In [1]:
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.26.1-py3-none-any.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 53.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.8/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from transformers) (3.9.0)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.6/7.6 MB 105.4 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.8/dist-packages (from transformers) (4.64.1)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from transformers) (2.25.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from transformers) (6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from transformers) (23.0)
Collecting huggingface-hub<1.0,>=0.11.0
  Downloading huggingface_hub-0.13.0-py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.1/199.1 KB 24.0 MB/s eta 0:00:00
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.8/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (4.5.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (2.10)
Installing collected packages: tokenizers, huggingface-hub, transformers
Successfully installed huggingface-hub-0.13.0 tokenizers-0.13.2 transformers-4.26.1

In [3]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm
from transformers import BertTokenizer

In [10]:
df = pd.read_csv('/content/drive/MyDrive/raphack/table1 - table1.csv', on_bad_lines='skip')
df.head()

   Unnamed: 0 All_the_Words  class
0           0         From:      0
1           1    Moskowitz,      0
2           2          Seth      0
3           3      Coggins,      0
4           4         Chris      0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     44 non-null     int64
 1   All_the_Words  44 non-null     object
 2   class          44 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [12]:
df['class'].value_counts()

0    44
Name: class, dtype: int64

In [28]:
tokenizer = BertTokenizer.from_pretrained('bert-base-cased')

In [29]:
token = tokenizer.encode_plus(
    df['All_the_Words'].iloc[0],
    max_length = 256,
    truncation = True,
    padding = 'max_length',
    add_special_tokens= True,
    return_tensors = 'tf'
)

In [30]:
X_input_ids = np.zeros((len(df), 256))
X_attn_masks = np.zeros((len(df), 256))

In [31]:
X_input_ids.shape

(44, 256)

In [32]:
from transformers.models.tapas.tokenization_tapas import TokenizedTable
def generate_training_data(df, ids, masks, tokenizer):
  for i, text in tqdm(enumerate(df['All_the_Words'])):
    tokenized_text = tokenizer.encode_plus(
        text, 
        max_length=256,
        truncation = True,
        return_tensors = 'tf'
    ) 
    ids[i, :] = tokenized_text.input_ids
    masks[i, :] = tokenized_text.attention_mask
  return ids, masks

In [38]:
labels = np.zeros((len(df), 1))
labels.shape

(44, 1)

In [39]:
labels[np.arange(len(df)), df['class'].values] = 1

In [40]:
labels

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]])

In [43]:
 import tensorflow as tf
 dataset = tf.data.Dataset.from_tensor_slices((X_input_ids, X_attn_masks, labels))

NameError: ignored

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive